#navbar {
    padding-left: 30px;
    padding-right: 30px;
}

.website-name {
    font-size: 25px;
}

.user-name {
    margin-bottom: 0;
}

@media only screen and (max-width: 480px) {
    #navbar {
        padding-left: 0;
        padding-right: 0;
    }
}